:root {
  --btn-background: #f9c06a;
  --btn-paddings: 14px 26px;
  --btn-color: #1e1e1e;
  --btn-radius: 24px;

  --line-height: 34px;
  --color-light: white;
  --color-dark: #707070;
  --color-coffee: #603809;

  --font-family-logo: "Clicker Script", cursive;
  --font-text: 20px;
}

body {
  font-family: "Playfair Display", serif;
}

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  border: 1px solid yellow;
  max-width: 1180px;
  margin: 0 auto;
}

.btn {
  color: var(--btn-color);
  background-color: var(--btn-background);
  border-radius: var(--btn-radius);
  padding: var(--btn-paddings);
  display: inline-block;
  transition: 0.3s;
}

.dark-heading {
  color: var(--color-coffee);
  font-size: 54px;
}

header {
  background-image: url(img/coffee_image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header .logo {
  font-family: var(--font-family-logo);
  font-weight: 400;
  font-style: normal;
  border: 1px solid red;
  font-size: 35px;
  margin-right: 245px;
}

header a {
  color: var(--color-light);
}

header nav {
  border: 1px solid red;
  font-size: 14px;
  font-weight: 600;
}

header ul {
  border: 1px solid red;
  display: inline-block;
  margin-right: 200px;
}

header ul li {
  display: inline-block;
  margin-right: 60px;
}

header ul a,
.signin-btn {
  transition: 0.3s;
}

header ul a:hover,
.signin-btn:hover {
  opacity: 0.8;
}

header ul li:last-child {
  margin-right: 0;
}

header .login {
  border: 1px solid red;
  display: inline-block;
}

.hero {
  border: 1px solid red;
}

.signin-btn {
  text-decoration: underline;
}

.signup-btn {
  margin-left: 35px;
}

.btn-hover:hover {
  box-shadow: 0 0 10px 2px #666;
}

.hero {
  width: 585px;
  padding-top: 116px;
  padding-bottom: 95px;
}
.hero .label {
  font-size: 22px;
  color: var(--color-light);
}

.hero .description {
  font-size: var(--font-text);
  color: var(--color-light);
}

.hero .title {
  color: var(--color-light);
  font-family: var(--font-family-logo);
  font-size: 220px;
  font-weight: normal;
}
.hero .description {
  line-height: var(--line-height);
}

.order-btn {
  margin-top: 20px;
}

.advantages {
  padding-bottom: 130px;
  padding-top: 80px;
}

.advantages p {
  margin: 29px 0;
  color: var(--color-dark);
  font-size: var(--font-text);
  line-height: var(--line-height);
}

.advantages .description {
  width: 585px;
  display: inline-block;
  margin-right: 80px;
  vertical-align: 60px;
}
