:root {
  --btn-background: #f9c06a;
  --btn-paddings: 14px 26px;
  --btn-radius: 24px;

  --line-height: 34px;
  --color-light: white;
  --color-dark: #707070;
  --color-coffee: #603809;
  --color-black: #1e1e1e;

  --font-family-logo: "Clicker Script", cursive;
  --font-text: 20px;
  --font-heading: 54px;
}

body {
  font-family: "Playfair Display", serif;
}

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  border: 1px solid yellow;
  max-width: 1180px;
  margin: 0 auto;
}

.btn {
  color: var(--color-black);
  background-color: var(--btn-background);
  border-radius: var(--btn-radius);
  padding: var(--btn-paddings);
  display: inline-block;
  transition: 0.3s;
  font-weight: bold;
}

.dark-heading {
  color: var(--color-coffee);
  font-size: var(--font-heading);
}

.card-back {
  background-color: #fff9f1;
  border: 1px solid #f9c06a;
}

header {
  background-image: url(img/coffee_image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header .logo {
  font-family: var(--font-family-logo);
  font-weight: 400;
  font-style: normal;
  border: 1px solid red;
  font-size: 35px;
  margin-right: 245px;
}

header a {
  color: var(--color-light);
}

header nav {
  border: 1px solid red;
  font-size: 14px;
  font-weight: 600;
}

header ul {
  border: 1px solid red;
  display: inline-block;
  margin-right: 200px;
}

header ul li {
  display: inline-block;
  margin-right: 60px;
}

header ul a,
.signin-btn {
  transition: 0.3s;
}

header ul a:hover,
.signin-btn:hover {
  opacity: 0.8;
}

header ul li:last-child {
  margin-right: 0;
}

header .login {
  border: 1px solid red;
  display: inline-block;
}

.hero {
  border: 1px solid red;
}

.signin-btn {
  text-decoration: underline;
}

.signup-btn {
  margin-left: 35px;
}

.btn-hover:hover {
  box-shadow: 0 0 10px 2px #666;
}

.hero {
  width: 585px;
  padding-top: 116px;
  padding-bottom: 95px;
}
.hero .label {
  font-size: 22px;
  color: var(--color-light);
}

.hero .description {
  font-size: var(--font-text);
  color: var(--color-light);
}

.hero .title {
  color: var(--color-light);
  font-family: var(--font-family-logo);
  font-size: 220px;
  font-weight: normal;
}
.hero .description {
  line-height: var(--line-height);
}

.order-btn {
  margin-top: 20px;
}

.advantages {
  padding-bottom: 130px;
  padding-top: 80px;
}

.advantages p {
  margin: 29px 0;
  color: var(--color-dark);
  font-size: var(--font-text);
  line-height: var(--line-height);
}

.advantages .description {
  width: 585px;
  display: inline-block;
  margin-right: 80px;
  vertical-align: 60px;
}

.products {
  border: 1px solid red;
  margin: 0px 0 82px 0;
}

.products h2 {
  text-align: center;
}

.products .description {
  color: var(--color-dark);
  text-align: center;
  margin: 16px 0 32px 0;
  font-size: var(--font-text);
}

.products .card {
  display: inline-block;
  text-align: center;
  margin-right: 14px;
}
.products .card:last-child {
  margin-right: 0;
}

.products .card-back > * {
  display: block;
}

.products .card-back {
  border-top: none;
  margin-top: -20px;
}

.products .type {
  color: var(--color-coffee);
  font-weight: bold;
  font-size: 22px;
  margin-top: 16px;
  margin-bottom: 6px;
}
.products .characteristics {
  color: var(--color-black);
  margin-bottom: 6px;
}
.products .price {
  color: var(--color-coffee);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.products .btn {
  display: inline-block;
  position: relative;
  top: 25px;
}

.features {
  text-align: center;
}

.features .description {
  margin-top: 16px;
  margin-bottom: 32px;
}

.features .card {
  display: inline-block;
  text-align: center;
  padding: 36px 39px;
}

.features .card > * {
  display: block;
}

.features .card img {
  display: inline-block;
}
.features .type {
  color: var(--color-coffee);
  font-size: 28px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 8px;
}
.features .text {
  color: var(--color-dark);
  font-size: var(--font-text);
  width: 176px;
}

.features .card:hover {
  background-color: #ffeed8;
  border: none;
}

.offer {
  background-image: url(img/cup.png), url(img/coffee_bean.png),
    url(img/Group\ 36.png);

  padding-block: 135px;
  background-repeat: no-repeat;
  background-size: 300px 467px, 550px 574px, cover;
  background-position: 88%, right, 0;
  margin-block: 82px;
}

.offer .text {
  width: 575px;
}

.offer .text h2 {
  color: var(--color-light);
  font-size: var(--font-heading);
}

.offer .text p {
  color: var(--color-light);
  font-size: var(--font-text);
  line-height: var(--line-height);
  margin-top: 22px;
  margin-bottom: 22px;
}

.feedback {
  margin-block: 82px;
  text-align: center;
}

.feedback .description {
  margin-top: 16px;
  color: var(--color-dark);
  font-size: var(--font-text);
}

.slider-wrapper {
  border: 2px solid red;
  padding-inline: 41px;
  padding-block: 57px;
}
.slider {
  border: 2px solid green;
}

.slide {
  background-color: #fff9f1;
  padding: 140px 100px 17.5px;
  border: 2px solid #f9c06a70;
  position: relative;
}
.quote {
  position: absolute;
  top: 60px;
  left: 29px;
}

.slide p {
  font-size: 18px;
  line-height: 36px;
  font-weight: 600;
  color: var(--color-dark);
  margin-bottom: 17px;
}

.slide h3 {
  color: var(--color-coffee);
  font-size: 32px;
  margin-bottom: 4px;
}

.slide .status {
  display: block;
  font-size: var(--font-text);
  color: var(--color-dark);
  margin-bottom: 8px;
}
.slide .avatar {
  border-radius: 16px;
  width: 83px;
  height: 83px;
  background-image: url(img/man.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px;
  margin: 0 auto;
}
